.main{
    background-color: #E3E3E3;
    height: 100%;
    width: 100%;
    font-family: Avenir, serif;
    margin: 0;
    padding-bottom: 28%;
}
.add{
    margin-top: 45% ;
    margin-left: 95%;
    position: fixed;
    z-index: 99;
}