body{
    background-image: url("./../assets/Large-Triangles.svg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

